---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Hero from "../components/Hero.astro";
import Section from "../components/Section.astro";
---

<Layout title="I'm Maveli.">
  <main>
    <Hero />
    <Section />
  </main>
</Layout>

<style></style>
