---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Hero from "../components/Hero.astro";
import Section from "../components/Section.astro";
import Cta from "../components/Cta.astro";
---

<Layout title="I'm Maveli.">
  <main>
    <Hero />
    <Section class="about" id="about" title="എന്നെക്കുറിച്ച്">
      <div class="flex">
        <p>
          I was a king of <span>Kerala</span>, our land. The land of coconut
          trees, backwaters and seas. I am King <span>Mahabali</span>, a revered
          figure in the rich tapestry of Kerala's history and culture. My legacy
          is intertwined with the grand festival of <span>Onam</span>,
          celebrated with great enthusiasm and devotion throughout the region.
          Onam, the festival that commemorates my reign, is a time when
          Keralites come together to celebrate the bountiful harvest and the <span
            >spirit of unity and prosperity</span
          >. As the legendary king, my story serves as a symbol of Kerala's
          vibrant cultural heritage and the timeless values of <span
            >love, generosity, and humility</span
          >. Onam showcases the grandeur of our traditions through mesmerizing
          floral carpets, sumptuous feasts, traditional dances like the
          Kathakali, and exhilarating boat races. My presence in this
          celebration reminds everyone of the enduring spirit of Kerala, where <span
            >people of all backgrounds come together in harmony</span
          >, just as they did during my golden rule. Join me in celebrating the
          essence of Onam, a festival that encapsulates the very soul of Kerala.
        </p>
        <img src="/onam.png" alt="Onam" />
      </div>
    </Section>

    <Section class="experience" title="Experience" id="experience">
      <div class="cards">
        <Card
          title="Reign as King of Kerala"
          body="As the benevolent ruler of the beautiful land of Kerala, I presided over a period of unprecedented prosperity and harmony. My reign was marked by a commitment to justice, equity, and the well-being of my subjects. I fostered an environment where people from all walks of life thrived together, making Kerala a land of plenty and diversity."
          date="Ancient times"
        /><Card
          title="Founding the Festival of Onam"
          body="One of my most enduring contributions to Kerala's culture is the establishment of the grand festival of Onam. This annual celebration, held in the Malayalam month of Chingam, continues to unite the people of Kerala and showcases the rich traditions, art forms, and culinary delights of our land."
          date="Time immemorial"
        /><Card
          title="Promotion of Art and Culture"
          body="During my rule, I was a patron of the arts, promoting and nurturing cultural expressions like Kathakali, Mohiniyattam, and traditional music. These art forms continue to thrive in Kerala, enriching the cultural landscape of the region."
          date="Throughout my reign"
        /><Card
          title="Legacy of Generosity"
          body="I am remembered not only for my just rule but also for my unwavering commitment to generosity and charity. My spirit of giving during the festival of Onam, symbolized by the mythical visit of Vamana, the dwarf Brahmin, continues to inspire acts of kindness and compassion in Kerala."
          date="Eternally remembered"
        />
      </div>
    </Section>
    <Section class="legacy" id="legacy" title="Legacy and Influence">
      <p>
        As King Mahabali, I take great pride in the enduring legacy that I've
        left upon the land of Kerala. My reign was marked by values that have
        stood the test of time, continuing to shape the culture and spirit of
        this vibrant region.
      </p>
      <ol>
        <li>
          <strong>Cultural Renaissance:</strong> In my time, I wholeheartedly
          supported the flourishing of the arts. The beautiful art forms of
          Kathakali and Mohiniyattam, with their vivid expressions and vibrant
          costumes, were cherished and promoted. Today, these art forms continue
          to mesmerize audiences and are integral to Kerala's cultural identity.
        </li>
        <li>
          <strong>Festive Traditions:</strong> The grand festival of Onam, which
          I initiated, remains a magnificent celebration in Kerala. The
          traditions of crafting intricate Pookalams (floral carpets), relishing
          the elaborate Onasadya (feast), and competing in thrilling Vallam Kali
          (boat races) have been lovingly passed down through generations,
          keeping my spirit alive.
        </li><li>
          <strong>Moral Values:</strong> My story, especially the act of
          sacrificing my kingdom for my people's welfare, teaches a timeless
          lesson. It underscores the importance of humility, selflessness, and
          the belief that true greatness lies in serving one's subjects. These
          principles continue to inspire virtuous lives in Kerala.
        </li><li>
          <strong>Social Harmony:</strong> During my reign, Kerala was a
          harmonious land, where people from all walks of life lived together
          without discrimination. This legacy of social inclusivity and
          acceptance endures, as Kerala's diverse communities coexist peacefully
          and respectfully.
        </li><li>
          <strong>Economic Prosperity:</strong> I dedicated myself to ensuring
          the equitable distribution of resources and wealth, which led to
          economic prosperity in Kerala. This commitment continues to influence
          Kerala's economic policies, prioritizing social welfare and inclusive
          growth. in Kerala.
        </li>
        <li>
          <strong>Tourism and Heritage:</strong> My legacy has made Kerala a
          sought-after destination for travelers worldwide. Tourists flock here
          to experience our rich cultural heritage, lush landscapes, and vibrant
          festivals, with Onam standing out as a major attraction.
        </li>
      </ol>
      <p>
        My legacy serves as a reminder of Kerala's unique cultural identity and
        the enduring values that bind its people together. It is a legacy of
        love, generosity, and humility that continues to inspire and unite the
        diverse communities of this enchanting land.
      </p>
    </Section>
    <Cta />
  </main>

  <style>
    .flex {
      display: flex;
      align-items: start;
      justify-content: space-between;
    }
    .flex p {
      flex: 1;
    }
    .flex img {
      flex: 1;
      margin-left: 2rem;
      max-width: 600px;
    }
    .cards {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(65ch, 1fr));
      gap: 2rem;
    }
    @media (max-width: 1200px) {
      .flex {
        flex-direction: column;
      }
      .flex img {
        margin-left: 0;
        margin-top: 2rem;
        max-width: 100%;
      }
    }
  </style>

  <style is:global>
    .about p {
      font-size: 1.5rem;
      line-height: 1.7;
      max-width: 65ch;
      color: #eee;
    }
    .about p span {
      font-size: 1.5rem;
      line-height: 1.7;
      max-width: 65ch;
      color: #eee;
      font-weight: bold;
      color: #f9a825;
    }
    .legacy p {
      font-size: 1.5rem;
      line-height: 1.7;
      max-width: 65ch;
      color: #ccc;
    }
    .legacy ol {
      font-size: 1.5rem;
      line-height: 1.7;
      max-width: 75ch;
      color: #eee;
      margin-left: 2rem;
    }
    .legacy ol li {
      margin-bottom: 2rem;
    }
    @media (max-width: 768px) {
      .about p {
        font-size: 1.1rem;
      }
      .about p span {
        font-size: 1.1rem;
      }
      .legacy p {
        font-size: 1.1rem;
      }
      .legacy ol {
        font-size: 1.1rem;
      }
    }
  </style>
</Layout>
