---
interface Props {
  class?: string;
}
const { class: className } = Astro.props;
---

<section class={className} id="hero">
  <h1>ഞാൻ Maveli.</h1>
</section>
<style>
  section {
    margin: 0 1rem;
    padding: 5rem;
    background: linear-gradient(180deg, #f6d465c2 0%, #fda085aa 100%) no-repeat;

    background-size: 100% 100%;
    background-position: 100% 100%;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
    min-height: calc(100vh - 16rem);
    border-radius: 0.5rem;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    animation: gradient 5s ease infinite;
  }
  h1 {
    font-size: 8rem;
    font-weight: 700;
    width: fit-content;
    max-width: 6ch;
    line-height: 1.2;
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #1f1f1f, #000000);
    background-size: 100% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  @keyframes gradient {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 0%;
    }
  }
</style>
