---
interface Props {
  class?: string;
}
const { class: className } = Astro.props;
---

<section class={className}><slot /></section>
<style>
  section {
    margin: 1rem;
    padding: 1rem;
    background: linear-gradient(180deg, #333333aa 0%, #272727aa 100%) no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
    min-height: calc(100vh - 4rem);
    border-radius: 0.5rem;
  }
</style>
